<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>Movies</h1>
<p>Welcome to the place where you will find your favourite movies and everything you want to know about them</p>  
</body>
</html>