/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
 	margin: 0;
 	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228,245,252,1)), color-stop(100%,rgba(42,176,237,1)));
}

img {
	max-width: 160px;
	max-height: 240px;
}

header, footer{
	background-color: rgb(116, 116, 207);
	width: 100%;
	text-align: center;
}

.title{
	font-weight: bold;
	font-size: 18px;

}

.offset3{
	margin-left: 30px;
}

tr > td{
	margin-left: 300px;
}

div.button{
	display: inline-block;
	position: relative;
}

.red {
	color: red;
	display: inline-block;
}

div.big{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 50px;
	border: 2px solid black;
	max-width: 50%;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1)));
}

div.header{
	border-bottom: 1px solid black;
}
.menu_buttons {
	text-align: left;
}